@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fff;
  --foreground-soft-color: #ffffffc1;
  --primary-color: #b18d73;
  --primary-soft-color: #c8c2b5;
  --background-color: #0a0f22;
}

h1 {
  @apply font-outfit font-bold text-[47px] tracking-widest;
}

h5 {
  @apply font-outfit font-bold text-[29px] tracking-widest;
}

h6 {
  @apply font-roboto font-bold text-[22px] tracking-wider;
}

p {
  @apply font-roboto text-[17px] tracking-wide font-thin;
}

.subbody {
  @apply font-roboto text-[17px] tracking-tight font-thin leading-tight;
}

button {
  @apply font-inter font-bold text-[14px];
}

.button-text {
  @apply font-inter font-bold text-[14px];
}

a {
  @apply underline;
}
