@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fff;
  --foreground-soft-color: #ffffffc1;
  --primary-color: #b18d73;
  --primary-soft-color: #c8c2b5;
  --background-color: #0a0f22;
}

h1 {
  @apply font-outfit font-bold text-[47px] text-white tracking-widest;
}

h5 {
  @apply font-outfit font-bold text-[29px] text-white;
}

h6 {
  @apply font-roboto font-bold text-[22px] text-white;
}

p {
  @apply font-roboto text-[17px] text-white tracking-wide font-thin;
}

button {
  @apply font-inter font-bold text-[14px];
}

a {
  @apply underline;
}
