@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fff;
  --foreground-soft-color: #ffffffc1;
  --primary-color: #b18d73;
  --primary-soft-color: #c8c2b5;
  --accent-color: #f7835e;
  --background-color: #313142;
}

h1 {
  @apply font-outfit font-bold text-[38px] md:text-[47px] tracking-wider;
}

h2 {
  @apply font-outfit font-bold text-[30px] md:text-[38px] tracking-wider;
}

h4 {
  @apply font-outfit font-bold text-[32px] text-primary tracking-wider leading-relaxed;
}

h5 {
  @apply font-outfit font-bold text-[29px] tracking-wider leading-relaxed pt-3;
}

h6 {
  @apply font-outfit font-bold text-[22px] tracking-wide leading-relaxed;
}

p,
li {
  @apply font-roboto text-[19px] font-thin leading-snug;
}

button > p,
a[role='button'] {
  @apply font-outfit font-normal;
}

nav a {
  @apply font-outfit text-[18px] font-thin tracking-widest;
}

ul {
  @apply pl-4 py-2;
  list-style-type: disc;
}

ol {
  @apply pl-4 py-2;
  list-style-type: decimal;
}

section {
  @apply flex flex-col gap-4 px-8 py-12 md:px-16 lg:px-24;
}
