@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #b18d73;
  --primary-soft-color: #c8c2b5;
  --accent-color: #f7835e;
}

.dark {
  --foreground-color: white;
  --background-color: #0a0f22;
  --card-color: #1e2232;
  --card-border-width: 1px;
  --card-border-color: rgba(55, 65, 81, 0.5);

  color: var(--foreground-color);
  background-color: var(--background-color);
}

.light {
  --foreground-color: black;
  --background-color: white;
  --card-color: white;
  --card-border-width: 1px;
  --card-border-color: rgba(55, 65, 81, 0.2);

  color: var(--foreground-color);
  background-color: var(--background-color);
}

section {
  @apply flex flex-col gap-4 px-8 py-12 md:px-16 lg:px-24;
}

.card {
  color: var(--foreground-color);
  background-color: var(--card-color);
  border: var(--card-border-width);
  border-color: var(--card-border-color);
  border-style: solid;
}

h1 {
  @apply font-outfit font-bold text-[38px] md:text-[47px] tracking-wider;
}

h2 {
  @apply font-outfit font-bold text-[30px] md:text-[38px] tracking-wider;
}

h4 {
  @apply font-outfit font-bold text-[32px] tracking-wider;
}

h5 {
  @apply font-outfit font-bold text-[29px] tracking-wider;
}

h6 {
  @apply font-outfit font-bold text-[22px] tracking-wide;
}

p,
li {
  @apply font-roboto text-[19px] font-thin leading-snug;
}

button > p,
a[role='button'] {
  @apply font-outfit font-normal;
}

nav a {
  @apply font-outfit text-[18px] font-thin tracking-widest;
}

hr {
  background-color: var(--foreground-color);
}

ul {
  @apply pl-4;
  list-style-type: disc;
}

ol {
  @apply pl-4;
  list-style-type: decimal;
}

code {
  @apply font-roboto text-[19px] text-primary font-thin tracking-wide;
}
